*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

/* Main Container */
.container{
    width: 100%;
    height: 100vh;
    background: url(/img-1.avif);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Calc Container */
.calculator{

    background: transparent;
    border: 2px solid #c0c0c0;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    

}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow:  -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0,0 ,0,0.2);
     background: transparent;
     font-size: 20px;
     color: #FF6000;
     cursor: pointer;
     margin: 10px;
 }

 /* Display Style */
 form .display{
    background: #03293e3c;
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    border-radius: 10px;
 }

 form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
 }
 form input.equal{
    width: 145px ;
 }

 form input.operator{
    color: #ffffff;
 }

 .container .operator{
    background: #FF6000;
 }
